#root {
  max-width: 1280px;
  margin: 0 auto;
  top: 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-component {
  display: flex;
  justify-content: space-around;
  background-color: orange;
  border-radius: 10px 10px 0px 0px;
  min-width: 950px
}

.msg-text {
  color: rgb(192, 51, 51);
  font-style: italic;
}

.link-menu {
  font-size: 22px;
  padding: 5px 10px;
  color: black;
  &:hover {
    cursor: pointer;
    color: blue;
  }
}

.listado-container {
  background-color: rgb(120, 139, 133);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title-listing {
  font-style: italic;
  color: darkgreen;
  font-size: x-large;
}

.pokemon-list-data {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  align-items: center;
  padding: 10px;
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  background-color: rgb(170, 170, 132);
  color: darkslateblue;
}

.photo-container {
  max-width: 100px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.btn-details {
  background-color: rgb(163, 62, 25);

  &:hover {
    cursor: pointer;
    background-color: rgb(214, 136, 136);
    color: black;
  }
}
