#root {
  max-width: 1280px;
  margin: 0 auto;
  top: 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
    background-color: #242424;
}


footer {
  font-style: italic;
  font-size: 14px;
}

.menu-component {
  display: flex;
  justify-content: space-around;
  background-color: orange;
  border-radius: 10px 10px 0px 0px;
  min-width: 950px
}

.msg-text {
  color: rgb(192, 51, 51);
  font-style: italic;
}

.link-menu {
  font-size: 22px;
  padding: 5px 10px;
  color: black;
  &:hover {
    cursor: pointer;
    color: blue;
  }
}

.listado-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid orange;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
  border-radius: 0px 0px 10px 10px;
}

.title-listing {
  font-style: italic;
  font-size: x-large;
}

.pokemon-list-data {
  display: grid;
  grid-template-columns: 10fr 2fr;
  align-items: center;
  padding: 10px;
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: darkslateblue;
}

.photo-container {
  max-width: 100px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.btn-details {
  background-color: rgb(163, 62, 25);

  &:hover {
    cursor: pointer;
    background-color: rgb(214, 136, 136);
    color: black;
  }
}

.error_message {
  color: rgb(214, 67, 67);
  font-style: italic;
  font-size: 14px;
  visibility: hidden;
}

.data-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.buttons-create-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.input-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}

button {
  margin-top: 10px;
}

.btn-create {
  background-color: green;
}

.btn-delete {
  background-color: rgb(163, 70, 70);
}

.btn-modify {
  background-color: rgb(157, 165, 43);
}
